@charset "UTF-8";

@font-face {
  font-family: "bromak";
  src:url("bromak.eot");
  src:url("bromak.eot?#iefix") format("embedded-opentype"),
    url("bromak.woff") format("woff"),
    url("bromak.ttf") format("truetype"),
    url("bromak.svg#bromak") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "bromak" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bromak" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-area-chart:before {
  content: "\61";
}
.icon-beer:before {
  content: "\62";
}
.icon-bed:before {
  content: "\63";
}
.icon-bookmark:before {
  content: "\64";
}
.icon-bookmark-o:before {
  content: "\65";
}
.icon-chevron-circle-down:before {
  content: "\66";
}
.icon-chevron-circle-up:before {
  content: "\67";
}
.icon-cutlery:before {
  content: "\68";
}
.icon-diamond:before {
  content: "\69";
}
.icon-key:before {
  content: "\6a";
}
.icon-lightbulb-o:before {
  content: "\6b";
}
.icon-map-o:before {
  content: "\6c";
}
.icon-map-signs:before {
  content: "\6d";
}
.icon-music:before {
  content: "\6e";
}
.icon-paint-brush:before {
  content: "\6f";
}
.icon-moon-o:before {
  content: "\70";
}
.icon-paw:before {
  content: "\71";
}
.icon-sun-o:before {
  content: "\72";
}
.icon-tree:before {
  content: "\73";
}
.icon-user:before {
  content: "\74";
}
.icon-flame:before {
  content: "\75";
}
.icon-zap:before {
  content: "\76";
}
.icon-air:before {
  content: "\77";
}
.icon-brush:before {
  content: "\78";
}
.icon-feather:before {
  content: "\79";
}
.icon-leaf:before {
  content: "\7a";
}
.icon-mountains:before {
  content: "\41";
}
.icon-male-user-1:before {
  content: "\42";
}
.icon-crhistmas-spruce-tree:before {
  content: "\43";
}
.icon-park2:before {
  content: "\44";
}
.icon-fire-station:before {
  content: "\45";
}
.icon-campsite:before {
  content: "\46";
}
.icon-wetland:before {
  content: "\47";
}
.icon-dam:before {
  content: "\48";
}
